<nav class="app-header" role="navigation" aria-label="Main navigation">


<header class="metallic-header">
  


 <div class="logo-container">
    <div class="logo">WishIt</div>
    <div class="tagline">A Clock-In Product</div>
  </div>

<input type="text" #searchInput class="search-input" placeholder="Search...">
<button class="search-btn" (click)="onSearch(searchInput.value)">
  🔍
</button>



<div class="login-container">
  <button class="login-btn">👤</button>
  <span class="login-text">Login</span>
</div>
  
</header>

