

.metallic-header {
  width: 100%;
  height: 80px;
  // background: linear-gradient(135deg, #b0b0b0, #d3d3d3, #b0b0b0);
  background: linear-gradient(1150deg, #2563eb,#38bdf8);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 50%,
      transparent 100%
    );
    animation: shine 6s infinite;
  }
}   
.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  transition: transform 0.25s ease, text-shadow 0.25s ease;

  &:hover {
    transform: scale(1.03); /* smaller scale */
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
                 0 0 8px rgba(200, 200, 200, 0.3);
    cursor: pointer;
  }
}

.registerBtn {
  margin-left: 1150px;
background-color: white;     
  color: black;                
  border: 1px solid #ccc;    
  padding: 12px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #007bff; 
    color: white;              
    border-color: #007bff;
  }
}

.loginBtn{
margin-left: 10px;
background-color: white;     
  color: black;                
  border: 1px solid #ccc;    
  padding: 13px 21px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #007bff; 
    color: white;              
    border-color: #007bff;
  }  
}








.tagline {



    font-size: .9rem; 
    font-weight: 500;  
    color: #333;     


  
  position: relative;
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.6s; /* Optional: start after a slight delay */
}

@keyframes slideIn {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(25px);
    opacity: 1;
  }
}











@keyframes shine {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}
