
<div class="container">  
  <form #loginForm="ngForm" (ngSubmit)="loginUser()" class="register-form">
    <h2>User Login</h2>

    <div class="form-group">
      <label>User Name</label>
      <input type="text" name="firstName" [(ngModel)]="user.username" required class="form-control" />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="user.password" required minlength="6" class="form-control" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-submit">Login</button>
  </form>
</div>
